.aboutme-box p {
  font-size: 17px;
}

.education-box p {
  font-size: 17px;
}

.aboutme-box {
  text-align: center;
  color: white;
  background-color: #62615e;
  padding: 6px 32px;
  width: 133%;
  box-shadow: 1px 1px 15px #62615e;
}

.education-box {
  text-align: center;
  color: white;
  background-color: #62615e;
  padding: 6px 32px;
  width: 133%;
  box-shadow: 1px 1px 15px #62615e;
}

main {
  display: flex;
  justify-content: center;
  gap: 2px;
  width: 1000px;
  margin: auto auto 50px auto;
}

.my-pic {
  height: auto;
  width: 124%;
  box-shadow: 1px 1px 15px #62615e;
}

.my-pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
