.aboutme-box p {
  font-size: 19px;
}

.education-box p {
  font-size: 19px;
}

.aboutme-box {
  text-align: center;
  color: white;
  background-color: #62615e;
  padding: 6px 32px;
  display: flex;
  align-items: center;
  width: 33%;
  box-shadow: 1px 1px 15px #62615e;
}

.education-box {
  display: flex;
  text-align: center;
  color: white;
  align-items: center;
  background-color: #62615e;
  padding: 6px 32px;
  width: 33%;
  box-shadow: 1px 1px 15px #62615e;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  gap: 2px;
  width: 79%;
  margin: auto auto 50px auto;
}

.my-pic {
  height: auto;
  width: 33%;
  box-shadow: 1px 1px 15px #62615e;
}

.my-pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 862px) {
  .about-wrapper {
    flex-direction: column;
    width: unset;
    gap: 10px;
  }

  .education-box {
    width: 100%;
    padding: 10px 15px;
  }

  .education-box p {
    font-size: 20.5px;
  }

  .aboutme-box p {
    font-size: 20.5px;
  }

  .aboutme-box {
    width: 100%;
    padding: 10px 15px;
  }

  .my-pic {
    width: 100%;
    display: flex;
    height: unset;
  }

  .my-pic img {
    object-fit: unset;
    height: unset;
    width: 100%;
    flex-grow: 1.5;
  }

  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  main {
    padding-top: 5px;
  }
}
