.portfolio-main {
  display: block;
  margin: auto auto 50px auto;
}

.about-portfolio-box p {
  width: 68%;
  margin: auto;
}

.about-portfolio-box {
  display: flex;
  text-align: center;
  color: white;
  background-color: #62615e;
  padding: 25px 220px;
  margin: auto;
  box-shadow: 1px 1px 15px #62615e;
}

.showcase-img {
  display: flex;
  width: 60%;
}

.showcase-img img {
  width: 100%;
  box-shadow: 1px 1px 15px #62615e;
  filter: grayscale(1);
  transition: all 0.3s;
}

.showcase-img img:hover {
  filter: grayscale(0);
  scale: 1.03;
}

.showcase-text p {
  font-size: 17px;
}

.showcase-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: black solid 1px;
  width: 36%;
  padding: 0px 25px 0px 25px;
  margin: 1px;
  box-shadow: 1px 1px 15px #62615e;
}

.portfolio-showcase {
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin-top: 70px;
}
