* {
  box-sizing: border-box;
}

body {
  background-color: #fffaf4;
}

p {
  font-family: "EB Garamond", serif;
  font-size: 18px;
}

main {
  width: 1000px;
  margin: auto auto 30px auto;
}

h1 {
  text-align: center;
  font-family: "Cormorant Upright", serif;
  font-weight: 100;
  font-size: 80px;
  margin-top: 65px;
}

.logo-pic {
  height: auto;
  width: 800px;
  margin: auto;
}

.logo-pic img {
  width: 100%;
  height: 100%;
}

.info-box {
  text-align: center;
  
  color: white;
  background-color: #62615e;
  padding: 15px 60px 10px 60px;
  margin: auto;
  width: 700px;
  margin-top: 10px;
  box-shadow: 1px 1px 15px #62615e;
}

.menu-box {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0px auto 20px;
}

.menu-box a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 1px #000000;
  color: black;
  padding: 15px;
  margin: 0px 0px -14px 0px;
  transition: all 0.3s;
}

.menu-box a.underline {
  text-decoration: underline;
}

.menu-box a:hover {
  scale: 1.1;
  text-decoration: underline;
}
