.youtube-box {
  display: flex;
  box-shadow: 1px 1px 15px #62615e;
}
.youtube-text p {
  font-size: 17px;
}

.youtube-text {
  text-align: center;
  color: white;
  background-color: #62615e;
  box-shadow: 1px 1px 15px #62615e;
  margin: 20px auto 20px auto;
  padding: 15px 15px;
  width: 60%;
}

@media screen and (max-width: 862px) {
  h1 {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  main {
    padding-top: 5px;
  }

  .youtube-text {
    padding: 10px;
    width: 90%;
  }

  .youtube-text p {
    font-size: 22px;
  }
}
